/* .box-rectangle {
  position: relative;
  background-color: #f0db4f;
  width: 300px;
  height: 300px;
  border: 3px solid black;
}

.box-rectangle__word {
  position: absolute;
  bottom: 0;
  right: 5%;
  color: #323330;
  text-transform: uppercase;
  font-size: 150px;
  font-family: sans-serif;
} */

body {
  margin: 24px;
}

.is-hidden {
  display: none;
}
